.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Begin Tarot Card CSS */

html {
	scroll-behavior: smooth;
}
main.login-register {
	background-image: url("../public/images/tarot-hero.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
label {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.form-container {
	backdrop-filter: blur(30px);
	border-radius: 12px;
	width: 75%;
}
label,
.error.form-text,
.form-element a {
	color: #ffffff;
}
input {
	height: 42px;
	padding: 16px;
}
span input {
	height: initial;
}

.to-login p {
	font-size: 14px;
}

.form-text p {
	font-size: 14px;
	color: #fff;
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button {
	font-family: "Forum", sans-serif;
	margin-bottom: 1.2rem;
	font-weight: 400;
}
h2 {
	font-family: "Nunito Sans", serif;
	font-weight: 600;
	color: #2c2c2d;
	font-size: 38px;
}
button {
	font-family: "Rubik", sans-serif;
	margin-bottom: 0;
	font-size: 14px;
}
a:hover {
	color: rgba(249, 17, 5);
}
#password {
	margin-bottom: 0;
}
.error p {
	margin-bottom: 0;
	font-size: 12px;
	margin-top: 6px;
	margin-right: 2px;
}
p,
li {
	font-size: 1rem;
}
li {
	margin-bottom: 0.2em;
}
input {
	margin-bottom: 1em;
}

nav {
	background-color: #0b0b31;
}
nav ul,
nav li,
nav a,
nav p {
	margin-bottom: 0;
}
ul {
	list-style-image: url("/public/images/li-arrow.png");
	list-style-position: inside;
}

.logo-font {
	font-family: "Aboreto", cursive;
}

.button-container {
	background-image: url("/public/images/tarot-hero.jpg");
	background-position: 50% 80%;
}

section.home-top {
	background-color: #d2cec5;
}

@media (min-width: 600px) {
	form {
		width: 50%;
	}
}

.card {
	height: 520px;
	width: 320px;
	position: relative;
	border-radius: 0.25rem;
}
.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}
.card-front,
.card-back {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	transition: transform 0.5s ease;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.card-back {
	transform: perspective(1000px) rotateY(180deg);
}

.card-back.flipped {
	transform: perspective(1000px) rotateY(0deg);
}

.card-front {
	transform: perspective(1000px) rotateY(0deg);
}

.card-front.flipped {
	transform: perspective(1000px) rotateY(-180deg);
}
@media screen and (max-width: 479px) {
	.home-top img {
		display: none;
	}
	.mobile-cards {
		flex-direction: column;
		gap: 10px;
	}
}
